// Vars and common section

$main-text: #222222;
$title-bg: #f1e4e6;
$inverted-text: rgba(255, 255, 255, 1);
$highlighted: rgba(241, 109, 127, 1);
$warning: #ff0d0d;
$card-fade: rgba(58, 56, 56, 0.83);
$white: #ffffff;
$white-fb: #fbfbfb;
$grey-83: #838383;
$grey-89: #898989;
$grey-b1: #b1b1b1;
$grey-e1: #e1e1e1;
$grey-e9: #e9e9e9;
$grey-f7: #f7f7f7;
$dark-grey: #3e3e40;
$location-bg: #f8f3f4;

@keyframes vibrate-3 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

// ------ General styles ------

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  color: $main-text;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 1rem;
  line-height: 1;
}

a {
  text-decoration: none;
  color: $main-text;

  &:hover {
    color: $highlighted;
  }
}

i {
  font-style: inherit;
}

.link {
  display: inline-block;
  width: inherit;
  height: inherit;
}

ul li,
ol li {
  list-style: none;
}

.fw900 {
  font-weight: 900;
}

.highlighted {
  color: $highlighted;
}

.warning {
  color: $warning;
}

.avatar-cropper {
  overflow: hidden;
  border-radius: 50%;
}

.divider {
  color: #dfdfdf;
}

.hidden {
  display: none;
}


input[type=range] {
  height: 18px;
  -webkit-appearance: none;
  //margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  //outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  //animate: 0.2s;
  box-shadow: 0 0 0 #000000;
  background: $highlighted;
  border-radius: 1px;
  border: 0 solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 #000000;
  border: 1px solid $highlighted;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: $highlighted;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  //outline: none;
  color: $highlighted;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $highlighted;
}


// ------ Common styles ------

.wrapper {
  min-width: max-content;
  white-space: nowrap;
  //width: 100%;
}

.x-container {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.marked-text {
  color: $highlighted
}

.flex-box {
  display: flex;
}


.logo {
  display: flex;
  align-items: center;

  &__img {
    width: 59px;
    height: 51px;
  }

  &__text {
    font-size: 27px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #3e3e40;
    margin-left: 13px;
  }

  &__text1 {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: $grey-89;
  }

  .marked-text {
    font-weight: 900;
  }
}

/* Custom blocks */

.btn-default {
  display: block;
  text-align: center;
  border-radius: 0;
  transition: all .2s ease-in-out;
}

.btn {
  @extend .btn-default;
  color: $highlighted;
  border: 1px solid $highlighted;
  background-color: $white;

  &:hover {
    color: $white;
    background: $highlighted;
    border: 1px solid $highlighted;
    animation: vibrate-3 0.5s linear 2s infinite both;
  }
}

.btn-grey {
  border: 1px solid $grey-e1;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #4a4a4a;

  &:hover {
    color: $highlighted;
    background: $white;
    border: 1px solid $highlighted;
  }
}

.btn-inv {
  @extend .btn-default;
  color: $white;
  border: 1px solid $highlighted;
  background-color: $highlighted;

  &:hover {
    color: $highlighted;
    background-color: $white;
    border: 1px solid $highlighted;
  }
}

.x-dropdown {
  position: relative;

  &[open] {
    color: $highlighted;
  }

  &__arrow {
    font-family: "FontAwesome", serif;
    position: absolute;
    top: .5em;
    right: 8px;
    line-height: 5px;
  }

  &::after {
    @extend .x-dropdown__arrow;
    content: '\f0d7';
  }

  &[open]::after {
    @extend .x-dropdown__arrow;
    content: '\f0d8';
  }

  &__default {
    letter-spacing: 0.025em;
    list-style-type: none;
    padding: 0 2rem 1rem 0;
    border-left: 5px solid $highlighted;
    border-bottom: 1px solid $grey-e9;
  }

  &__list {
    background-color: #fff;
    line-height: 33px;
    padding: 0 1rem;
  }
}

.card-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > a {
    display: block;
  }

  .card {
    position: relative; // for "Add cart" button
    width: 263px;
    margin-bottom: 39px;
    box-shadow: transparent;
    transition: all .2s ease-in-out;
    border: none;
    border-radius: 0;

    .x-item {
      display: block;

      &-image {
        position: relative; // for card fade out layer
        width: 100%;
        background-color: #efefef;

        img {
          display: block;
          width: 100%;
          height: 280px;
          object-fit: contain;
        }
      }

      &-desc {
        padding: 15px 10px;
      }

      &-desc {
        .x-text {
          font-size: 13px;
          line-height: 1.2;
          font-weight: 400;
          text-transform: uppercase;
          color: $main-text;
        }

        .x-price {
          font-size: 16px;
          line-height: 1.2;
          font-weight: 700;
          text-transform: uppercase;
          color: $highlighted;
          margin-top: 10px;
        }
      }
    }

    & .x-item-image:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgb(58, 56, 56);
      transition: opacity .3s ease-in-out;
    }

    &:hover .x-item-image:before {
      opacity: 0.83;
    }

    .x-add {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      opacity: 0;
      font-size: 13px;
      line-height: 19px;
      font-weight: 700;
      color: white;
      background-color: transparent;
      border: 1px solid white;
      padding: 10px 12px;
      white-space: nowrap;
      transform: translate(-50%, 50px);
      transition: all .2s ease-in-out;

      .fa-cart-shopping {
        font-size: 18px;
        line-height: 18px;
        vertical-align: middle;
      }

      img {
        width: 20px;
        vertical-align: middle;
        margin-right: .3em;
        filter: invert(1);
      }

      &:hover {
        background-color: #fff;
        color: $main-text;

        img {
          filter: invert(0);
        }
      }
    }

    &:hover {
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);

      .x-add {
        transform: translate(-50%, 98px);
        opacity: 1;
      }
    }
  }
}

.card-link {
  display: inline-block;
  width: 100%;
  height: 100%;

  &:hover {
    color: $main-text;
  }
}

.x-btn-close {
  display: block;
  align-self: center;
  filter: grayscale(1) brightness(2);
  transition: filter 0.2s ease-in-out;
  padding: 10px 5px;

  &:hover {
    filter: grayscale(0);

    & > img {
      transform: scale(1.3);
    }
  }

  &__img {
    display: block;
    transition: all 300ms ease-in-out;
  }
}