// Header styles

.top-bar {
  width: 100%;
  height: 100px;
  background-color: white;
  border: 1px solid #ececec;
  // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);

  &-box {
    .left {
      flex: 1 0 50%;
      //background-image: url("./img/man-1.png");
      background-repeat: no-repeat;
      background-position: -225px 0;
    }
  }

  .flex-box {
    align-items: center;

    .left {
      flex: 0 0 200px;
      width: 200px;
    }

    .center {
      flex: 1 0 200px;
      width: 200px;

      .search {
        display: flex;

        .search-select {
          .select-box {
            display: block;
            position: absolute;
            background-color: white;
            width: 262px;
            border-radius: 5px;
            padding: 0 15px 15px;
            z-index: 11;

            &:before {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              position: absolute;
              background-color: white;
              top: -5px;
              left: 73px;
              transform: rotate(45deg);
            }

            & > a:hover {
              color: $highlighted;
            }
          }

          &__list {
            list-style-type: none;
            padding: 0 15px;
            height: 38px;
            font-weight: 400;
            font-size: 14px;
            line-height: 36px;
            letter-spacing: 0.025em;
            background-color: #f9f9f9;
            background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
            border: 1px solid #e6e6e6;
            border-radius: 3px 0 0 3px;
          }

          &__list:after {
            font-family: "FontAwesome";
            font-weight: 900;
            content: "\f0da";
            color: $grey-83;
            display: inline-block; /* Enable widths */
            width: 1em; /* Set width across all characters */
            text-align: center; /* Even out spacing */
          }

          &[open] .search-select__list {
            list-style-type: none;
          }

          &[open] .search-select__list:after {
            font-family: "FontAwesome";
            font-weight: 900;
            content: "\f0d7";
            color: $grey-83;
            display: inline-block; /* Enable widths */
            width: 1em; /* Set width across all characters */
            text-align: center; /* Even out spacing */
          }

          &__section {
            display: block;
            font-size: 14px;
            line-height: 32px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #232323;
            border-bottom: 1px solid #e8e8e8;
            margin: 8px auto;
          }

          &__item {
            display: block;
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #4f4f4f;
            margin-left: 5px;
          }
        }

        select,
        select > option {
          width: 87px;
          height: 38px;
          background-color: #cdcdcc;
          background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
          border: 1px solid #e6e6e6;
          border-radius: 3px 0 0 3px;

          option {
            width: 262px;
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #4f4f4f;
          }

          .section {
            font-size: 14px;
            line-height: 32px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #232323;
          }
        }

        input {
          width: 317px;
          height: 38px;
          background-color: #ffffff;
          border: 1px solid #e6e6e6;
          border-radius: 0 3px 3px 0;
          font-size: 14px;
          line-height: 32px;
          font-weight: 300;
          letter-spacing: 0.025em;
          color: #a4a4a4;
          margin-left: -4px;
          padding-left: 20px;
        }

        button {
          width: 38px;
          height: 38px;
          background-color: #ffffff;
          border: 1px solid #e6e6e6;
          border-radius: 0 3px 3px 0;
          font-size: 14px;
          line-height: 32px;
          font-weight: 300;
          letter-spacing: 0.025em;
          color: #a4a4a4;
          margin-left: -4px;
          //padding: 8px;
          text-align: center;

          img {
            width: 15px;
            height: 15px;
            vertical-align: middle;
          }
        }
      }
    }

    .right {
      position: relative;
      flex: 0 0 170px;
      width: 170px;
      display: flex;
      align-items: center;
      gap: 26px;

      .cart-menu {
        & > summary {
          list-style-type: none;
        }

        .fa-cart-shopping {
          font-size: 28px;
        }

        .cart-box {
          position: absolute;
          width: 262px;
          right: 0;
          margin-top: 16px;
          padding: 4px 17px 20px;
          background-color: white;
          border-radius: 5px;
          z-index: 11;
        }

        .cart-item {
          display: flex;
          align-items: start;
          //column-gap: 14px;
          //margin: 17px 0;
          //padding-bottom: 17px;
          border-bottom: 1px solid $grey-e1;

          &__icon {
            //width: 72px;
            //height: 85px;
            float: left;
            margin-right: 14px;
          }

          &__desc {
            flex-grow: 1;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;

            .name {
              font-weight: 700;
            }

            .stars {
              margin: 12px 0 10px;
              color: #e4af48;
            }

            .qty {
              text-transform: none;
            }
          }

          &__close {
            align-self: center;
            filter: grayscale(1) brightness(2);
            transition: filter 0.2s ease-in-out;
            padding: 10px 5px;

            &:hover {
              filter: grayscale(0);
            }

            img {
              display: block;
            }
          }
        }

        .card-link {
          padding: 17px 0;
        }

        .total {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          line-height: 1.2;
          font-weight: 700;
          text-transform: uppercase;
          color: $main-text;
          padding-top: 17px;
        }

        .cart-btn {
          //display: block;
          //width: 100%;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 700;
          text-transform: uppercase;
          //text-align: center;
          padding: 19px;
          //color: #4f4f4f;
          //border: 1px solid $grey-e1;
          margin-top: 20px;

          &:hover {
            //border: 1px solid $highlighted-text;
            //color: $highlighted-text;
          }
        }

        .cart-btn + .cart-btn {
          margin-top: 11px;
        }
      }

      .account {
        font-size: 15px;
        line-height: 36px;
        font-weight: 400;
        letter-spacing: 0.025em;
        //text-align: center;
        //color: #ffffff;
        width: 130px;
        height: 38px;
        //background-color: $highlighted-text;
      }
    }
  }
}

.menu {
  background-color: $main-text;
  height: 75px;
  width: 100%;
  background-repeat: no-repeat;

  &-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex: 1 1 100px;
    gap: 33px;

    div {
      background-repeat: no-repeat;
    }

    .logo {
      width: 44px;
      height: 38px;
      margin-left: 1px;
      background-image: url("../img/icon/logo.svg");
    }

    .search {
      flex-grow: 1;
      margin-left: 8px;
      width: 26px;
      height: 26px;
      background-image: url("../img/icon/search.svg");
    }

    .burger {
      width: 32px;
      height: 23px;
      background-image: url("../img/icon/burger.svg");
    }

    .registration {
      width: 29px;
      height: 29px;
      background-image: url("../img/icon/registration.svg");
    }

    .cart {
      position: relative;
      width: 32px;
      height: 29px;
      background-image: url("../img/icon/cart.svg");
      margin-right: 10px;

      &:after {
        position: absolute;
        content: "5";
        width: 19px;
        height: 19px;
        right: -8px;
        top: -6px;
        color: $inverted-text;
        background-color: $highlighted;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.navigation {
  height: 51px;

  .mega-menu {
    position: relative;
    width: max-content;
    display: flex;
    list-style: none;
    margin: 0 auto;
    z-index: 10;

    .mega-item {
      position: relative;
      list-style: none;
      font-size: 14px;
      line-height: 26px;
      font-weight: 700;

      &:hover .mega-box {
        display: flex;
      }

      .mega-link {
        font-size: 14px;
      }

      .mega-link_root {
        display: block;
        padding: 11px 20px;
      }

      .mega-box {
        display: none;
        position: absolute;
        top: 43px;
        gap: 43px;
        left: 0;
        background-color: white;
        border-radius: 5px;
        border: 1px solid $grey-e9;
        padding: 25px;
        z-index: 5;

        &::after {
          display: block;
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          top: -6px;
          left: 35px;
          background-color: white;
          border-width: 1px 0 0 1px;
          border-style: solid;
          border-color: $grey-e9;
          transform: rotate(45deg);
        }

        .mega-heading {
          width: 200px;
          font-weight: 600;
          letter-spacing: 0.025em;
          text-transform: uppercase;
          border-bottom: 1px solid $grey-e9;
          padding-bottom: 8px;
          margin-bottom: 16px;
        }

        .mega-link {
          display: block;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.025em;
          color: #4f4f4f;

          &:hover {
            color: $highlighted;
          }
        }
      }

      &_last:hover .mega-box {
        right: 0;
        left: auto;
      }

      &_last:hover .mega-box::after {
        right: 35px;
        left: auto;
      }

      &_active {
        border-bottom: 3px solid $highlighted;
      }
    }
  }
}

.location {
  background-color: $location-bg;
  height: 148px;

  &__box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
  }

  .breadcrumb {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
    margin-bottom: 0;

    .active {
      color: $highlighted;
      font-weight: 700;
    }

    a:hover {
      color: $highlighted;
    }
  }
}