@keyframes vibrate-3 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
html, body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.2;
  color: #222222;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 1rem;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #222222;
}
a:hover {
  color: rgb(241, 109, 127);
}

i {
  font-style: inherit;
}

.link {
  display: inline-block;
  width: inherit;
  height: inherit;
}

ul li,
ol li {
  list-style: none;
}

.fw900 {
  font-weight: 900;
}

.highlighted {
  color: rgb(241, 109, 127);
}

.warning {
  color: #ff0d0d;
}

.avatar-cropper {
  overflow: hidden;
  border-radius: 50%;
}

.divider {
  color: #dfdfdf;
}

.hidden {
  display: none;
}

input[type=range] {
  height: 18px;
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0 0 0 #000000;
  background: rgb(241, 109, 127);
  border-radius: 1px;
  border: 0 solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 #000000;
  border: 1px solid rgb(241, 109, 127);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgb(241, 109, 127);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  color: rgb(241, 109, 127);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(241, 109, 127);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.x-container {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.marked-text {
  color: rgb(241, 109, 127);
}

.flex-box {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 59px;
  height: 51px;
}
.logo__text {
  font-size: 27px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #3e3e40;
  margin-left: 13px;
}
.logo__text1 {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.logo .marked-text {
  font-weight: 900;
}

/* Custom blocks */
.btn-default, .btn-inv, .btn {
  display: block;
  text-align: center;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}

.btn {
  color: rgb(241, 109, 127);
  border: 1px solid rgb(241, 109, 127);
  background-color: #ffffff;
}
.btn:hover {
  color: #ffffff;
  background: rgb(241, 109, 127);
  border: 1px solid rgb(241, 109, 127);
  animation: vibrate-3 0.5s linear 1s infinite both;
}

.btn-grey {
  border: 1px solid #e1e1e1;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #4a4a4a;
}
.btn-grey:hover {
  color: rgb(241, 109, 127);
  background: #ffffff;
  border: 1px solid rgb(241, 109, 127);
}

.btn-inv {
  color: #ffffff;
  border: 1px solid rgb(241, 109, 127);
  background-color: rgb(241, 109, 127);
}
.btn-inv:hover {
  color: rgb(241, 109, 127);
  background-color: #fef4f5;
  border: 1px solid rgb(241, 109, 127);
}

.x-dropdown {
  position: relative;
}
.x-dropdown[open] {
  color: rgb(241, 109, 127);
}
.x-dropdown__arrow, .x-dropdown[open]::after, .x-dropdown::after {
  font-family: "FontAwesome", serif;
  position: absolute;
  top: 0.5em;
  right: 8px;
  line-height: 5px;
}
.x-dropdown::after {
  content: "\f0d7";
  color: #6f6e6e;
}
.x-dropdown[open]::after {
  content: "\f0d8";
}
.x-dropdown__default {
  letter-spacing: 0.025em;
  list-style-type: none;
  padding: 0 2rem 1rem 0;
  border-left: 5px solid rgb(241, 109, 127);
  border-bottom: 1px solid #e9e9e9;
}
.x-dropdown__list {
  background-color: #fff;
  line-height: 33px;
  padding: 0 1rem;
}

.card-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-box > a {
  display: block;
}
.card-box .card {
  position: relative;
  width: 263px;
  margin-bottom: 39px;
  box-shadow: transparent;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 0;
}
.card-box .card .x-item {
  display: block;
}
.card-box .card .x-item-image {
  position: relative;
  width: 100%;
  background-color: #efefef;
}
.card-box .card .x-item-image img {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: contain;
}
.card-box .card .x-item-desc {
  padding: 15px 10px;
}
.card-box .card .x-item-desc .x-text {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.card-box .card .x-item-desc .x-price {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(241, 109, 127);
  margin-top: 10px;
}
.card-box .card .x-item-image:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgb(58, 56, 56);
  transition: opacity 0.3s ease-in-out;
}
.card-box .card:hover .x-item-image:before {
  opacity: 0.83;
}
.card-box .card .x-add {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  font-size: 13px;
  line-height: 19px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 12px;
  white-space: nowrap;
  transform: translate(-50%, 50px);
  transition: all 0.2s ease-in-out;
}
.card-box .card .x-add .fa-cart-shopping {
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
}
.card-box .card .x-add img {
  width: 20px;
  vertical-align: middle;
  margin-right: 0.3em;
  filter: invert(1);
}
.card-box .card .x-add:hover {
  background-color: #fff;
  color: #222222;
}
.card-box .card .x-add:hover img {
  filter: invert(0);
}
.card-box .card:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}
.card-box .card:hover .x-add {
  transform: translate(-50%, 98px);
  opacity: 1;
}

.card-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.card-link:hover {
  color: #222222;
}

.x-btn-close {
  display: block;
  align-self: center;
  filter: grayscale(1) brightness(2);
  transition: filter 0.2s ease-in-out;
  padding: 10px 5px;
}
.x-btn-close:hover {
  filter: grayscale(0);
}
.x-btn-close:hover > img {
  transform: scale(1.3);
}
.x-btn-close__img {
  display: block;
  transition: all 300ms ease-in-out;
}

.top-bar {
  width: 100%;
  height: 100px;
  background-color: white;
  border: 1px solid #ececec;
}
.top-bar-box .left {
  flex: 1 0 50%;
  background-repeat: no-repeat;
  background-position: -225px 0;
}
.top-bar .flex-box {
  align-items: center;
}
.top-bar .flex-box .left {
  padding-right: 32px;
}
.top-bar .flex-box .center {
  flex: 1 0 200px;
  width: 200px;
}
.top-bar .flex-box .center .search {
  display: flex;
}
.top-bar .flex-box .center .search .search-select .select-box {
  display: block;
  position: absolute;
  background-color: white;
  width: 262px;
  border-radius: 5px;
  padding: 0 15px 15px;
  z-index: 11;
}
.top-bar .flex-box .center .search .search-select .select-box:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: white;
  top: -5px;
  left: 73px;
  transform: rotate(45deg);
}
.top-bar .flex-box .center .search .search-select .select-box > a:hover {
  color: rgb(241, 109, 127);
}
.top-bar .flex-box .center .search .search-select__list {
  list-style-type: none;
  padding: 0 15px;
  height: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.025em;
  background-color: #f9f9f9;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0 0 3px;
}
.top-bar .flex-box .center .search .search-select__list:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f0d7";
  color: #838383;
  display: inline-block; /* Enable widths */
  width: 1em; /* Set width across all characters */
  text-align: center; /* Even out spacing */
}
.top-bar .flex-box .center .search .search-select[open] .search-select__list {
  list-style-type: none;
}
.top-bar .flex-box .center .search .search-select[open] .search-select__list:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f0d8";
  color: #838383;
  display: inline-block; /* Enable widths */
  width: 1em; /* Set width across all characters */
  text-align: center; /* Even out spacing */
}
.top-bar .flex-box .center .search .search-select__section {
  display: block;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
  margin: 8px auto;
}
.top-bar .flex-box .center .search .search-select__item {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
  margin-left: 5px;
}
.top-bar .flex-box .center .search select,
.top-bar .flex-box .center .search select > option {
  width: 87px;
  height: 38px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0 0 3px;
}
.top-bar .flex-box .center .search select option,
.top-bar .flex-box .center .search select > option option {
  width: 262px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
}
.top-bar .flex-box .center .search select .section,
.top-bar .flex-box .center .search select > option .section {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
}
.top-bar .flex-box .center .search input {
  width: 317px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  margin-left: -4px;
  padding: 0 20px 0;
}
.top-bar .flex-box .center .search button {
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  margin-left: -4px;
  text-align: center;
}
.top-bar .flex-box .center .search button img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.top-bar .flex-box .right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 26px;
}
.top-bar .flex-box .right .cart-menu > summary {
  list-style-type: none;
}
.top-bar .flex-box .right .cart-menu .fa-cart-shopping {
  font-size: 28px;
}
.top-bar .flex-box .right .cart-menu .cart-box {
  position: absolute;
  width: 262px;
  right: 0;
  margin-top: 16px;
  padding: 4px 17px 20px;
  background-color: white;
  border-radius: 5px;
  z-index: 11;
}
.top-bar .flex-box .right .cart-menu .cart-item {
  display: flex;
  align-items: start;
  border-bottom: 1px solid #e1e1e1;
}
.top-bar .flex-box .right .cart-menu .cart-item__icon {
  float: left;
  margin-right: 14px;
}
.top-bar .flex-box .right .cart-menu .cart-item__desc {
  flex-grow: 1;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
.top-bar .flex-box .right .cart-menu .cart-item__desc .name {
  font-weight: 700;
}
.top-bar .flex-box .right .cart-menu .cart-item__desc .stars {
  margin: 12px 0 10px;
  color: #e4af48;
}
.top-bar .flex-box .right .cart-menu .cart-item__desc .qty {
  text-transform: none;
}
.top-bar .flex-box .right .cart-menu .cart-item__close {
  align-self: center;
  filter: grayscale(1) brightness(2);
  transition: filter 0.2s ease-in-out;
  padding: 10px 5px;
}
.top-bar .flex-box .right .cart-menu .cart-item__close:hover {
  filter: grayscale(0);
}
.top-bar .flex-box .right .cart-menu .cart-item__close img {
  display: block;
}
.top-bar .flex-box .right .cart-menu .card-link {
  padding: 17px 0;
}
.top-bar .flex-box .right .cart-menu .total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding-top: 17px;
}
.top-bar .flex-box .right .cart-menu .cart-btn {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  padding: 19px;
  margin-top: 20px;
}
.top-bar .flex-box .right .cart-menu .cart-btn + .cart-btn {
  margin-top: 11px;
}
.top-bar .flex-box .right .account {
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding: 0 15px;
}

.menu {
  background-color: #222222;
  height: 75px;
  width: 100%;
  background-repeat: no-repeat;
}
.menu-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex: 1 1 100px;
  gap: 33px;
}
.menu-box div {
  background-repeat: no-repeat;
}
.menu-box .logo {
  width: 44px;
  height: 38px;
  margin-left: 1px;
  background-image: url("../img/icon/logo.svg");
}
.menu-box .search {
  flex-grow: 1;
  margin-left: 8px;
  width: 26px;
  height: 26px;
  background-image: url("../img/icon/search.svg");
}
.menu-box .burger {
  width: 32px;
  height: 23px;
  background-image: url("../img/icon/burger.svg");
}
.menu-box .registration {
  width: 29px;
  height: 29px;
  background-image: url("../img/icon/registration.svg");
}
.menu-box .cart {
  position: relative;
  width: 32px;
  height: 29px;
  background-image: url("../img/icon/cart.svg");
  margin-right: 10px;
}
.menu-box .cart:after {
  position: absolute;
  content: "5";
  width: 19px;
  height: 19px;
  right: -8px;
  top: -6px;
  color: rgb(255, 255, 255);
  background-color: rgb(241, 109, 127);
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  font-size: 12px;
  line-height: 18px;
}

.navigation {
  height: 51px;
}
.navigation .mega-menu {
  position: relative;
  width: max-content;
  display: flex;
  list-style: none;
  margin: 0 auto;
  z-index: 10;
}
.navigation .mega-menu .mega-item {
  position: relative;
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
.navigation .mega-menu .mega-item:hover .mega-box {
  display: flex;
}
.navigation .mega-menu .mega-item .mega-link {
  font-size: 14px;
}
.navigation .mega-menu .mega-item .mega-link_root {
  display: block;
  padding: 11px 20px;
}
.navigation .mega-menu .mega-item .mega-box {
  display: none;
  position: absolute;
  top: 43px;
  gap: 43px;
  left: 0;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  padding: 25px;
  z-index: 5;
}
.navigation .mega-menu .mega-item .mega-box::after {
  display: block;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: -6px;
  left: 35px;
  background-color: white;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #e9e9e9;
  transform: rotate(45deg);
}
.navigation .mega-menu .mega-item .mega-box .mega-heading {
  width: 200px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.navigation .mega-menu .mega-item .mega-box .mega-link {
  display: block;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.025em;
  color: #4f4f4f;
}
.navigation .mega-menu .mega-item .mega-box .mega-link:hover {
  color: rgb(241, 109, 127);
}
.navigation .mega-menu .mega-item_last:hover .mega-box {
  right: 0;
  left: auto;
}
.navigation .mega-menu .mega-item_last:hover .mega-box::after {
  right: 35px;
  left: auto;
}
.navigation .mega-menu .mega-item_active {
  border-bottom: 3px solid rgb(241, 109, 127);
}

.location {
  background-color: #f8f3f4;
  height: 148px;
}
.location__box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location .page {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}
.location .breadcrumb {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
  margin-bottom: 0;
}
.location .breadcrumb .active {
  color: rgb(241, 109, 127);
  font-weight: 700;
}
.location .breadcrumb .active::before {
  color: rgb(241, 109, 127);
}
.location .breadcrumb a:hover {
  color: rgb(241, 109, 127);
}

.checkout__box {
  margin: 47px 0 93px;
}
.checkout__item {
  font-size: 13px;
  line-height: 1.2;
  color: #222222;
}
.checkout__item > summary {
  list-style: none;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  padding: 32px 0;
  border-bottom: 1px solid #e9e9e9;
}
.checkout__item > summary::-webkit-details-marker {
  display: none;
}
.checkout__item label {
  font-size: 12px;
}
.checkout__item[open] > summary {
  border: none;
}
.checkout__item-box {
  padding-bottom: 80px;
  border-bottom: 1px solid #e9e9e9;
}
.checkout .co-address {
  display: flex;
  flex-direction: row;
}
.checkout .left, .checkout .right {
  flex: 1 0 45%;
}
.checkout .left {
  padding-left: 34px;
}
.checkout [type=radio] {
  height: 12px;
}
.checkout .login-input {
  display: block;
  max-width: 390px;
  width: 100%;
  line-height: 45px;
  padding: 0 12px;
  border: 1px solid #eaeaea;
}
.checkout .label {
  margin: 10px 0;
}
.checkout .right > label {
  margin-top: 15px;
}
.checkout p.warning {
  margin: 10px 0;
}
.checkout .annotation {
  line-height: 20px;
  color: #b3b2b2;
}
.checkout .btn {
  display: inline-block;
  width: 180px;
  padding: 19px 0;
  margin: 30px 15px 0 0;
}
.checkout .forgot-link {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
  transition: color 0.2s ease-in-out;
}

.subscribe {
  height: 438px;
  background-image: linear-gradient(rgba(242, 242, 242, 0.5), rgba(242, 242, 242, 0.5)), url("../img/subscribe_bg.png");
  background-size: cover;
  background-position: center;
}
.subscribe-reviews {
  flex: 0 0 50%;
  height: 100%;
  border-right: 1px solid white;
  padding-top: 111px;
}
.subscribe-reviews__item {
  display: flex;
  margin: 0;
}
.subscribe-reviews__item .avatar-cropper {
  flex: 0 0 83px;
  width: 83px;
  height: 83px;
}
.subscribe-reviews__item .avatar-img {
  width: inherit;
  height: inherit;
}
.subscribe-reviews__item figcaption {
  margin: 4px 65px 0 28px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  color: #222222;
}
.subscribe-reviews__item figcaption .reviewer__name {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: rgb(241, 109, 127);
  padding-top: 15px;
}
.subscribe-reviews__item figcaption .reviewer__desc {
  font-size: 12px;
  font-style: normal;
  line-height: 1;
  font-weight: 300;
  margin-top: 4px;
}
.subscribe-reviews .pagination {
  display: flex;
  gap: 13px;
  margin-top: 25px;
  margin-left: 112px;
}
.subscribe-reviews .pagination .page {
  display: block;
  position: relative;
  padding: 10px 0;
  width: 38px;
}
.subscribe-reviews .pagination .page::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  border-radius: 2px;
}
.subscribe-reviews .pagination .page:hover::before {
  background-color: #fcfcfc;
}
.subscribe-reviews .pagination .page.active::before {
  background-color: rgb(241, 109, 127);
}
.subscribe-reviews .pagination .page.active:hover::before {
  background-color: #f8b3bc;
}
.subscribe-form {
  align-items: center;
  margin: 148px auto 0;
}
.subscribe-form__title {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.subscribe-form__subtitle {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: 35px;
}
.subscribe-form__email {
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  padding: 0 17px 0 28px;
  border: none;
}
.subscribe-form__button {
  display: inline-block;
  height: 46px;
  padding: 0 16px;
  margin-left: -4px;
  border: 1px solid rgb(241, 109, 127);
  border-radius: 0 23px 23px 0;
}

.footer-bar .brand-about {
  width: 448px;
  padding: 109px 63px 79px 0;
}
.footer-bar .brand-about__logo {
  width: 59px;
  height: 51px;
  float: left;
}
.footer-bar .brand-about__logo-text {
  font-size: 27px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #3e3e40;
  margin-left: 13px;
}
.footer-bar .brand-about__text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.footer-bar__menu {
  flex: 1 0 50%;
  display: flex;
  justify-content: space-between;
  padding: 123px 0 79px 0;
}
.footer-bar__menu .nav-box {
  flex: 1 0 30%;
}
.footer-bar__menu .nav-box .header {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: rgb(241, 109, 127);
  margin-bottom: 20px;
  pointer-events: none;
}
.footer-bar__menu .nav-box .link {
  display: block;
  flex: 1 0 150px;
  font-size: 16px;
  line-height: 42px;
  letter-spacing: 0.025em;
  color: #898989;
  transition: color 0.2s ease-in-out;
}
.footer-bar__menu .nav-box .link:hover {
  color: rgb(241, 109, 127);
}
.footer-bar .bottom-bar {
  height: 79px;
  background-color: #e6e6e6;
}
.footer-bar .bottom-bar .flex-box {
  align-items: center;
}
.footer-bar .bottom-bar .rights {
  flex-grow: 1;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
.footer-bar .bottom-bar .social {
  display: flex;
  gap: 8px;
}
.footer-bar .bottom-bar .social__icon {
  display: block;
  width: 32px;
  height: 32px;
  background-color: white;
  font-size: 17px;
  line-height: 32px;
  color: #b2b2b2;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}
.footer-bar .bottom-bar .social__icon:hover {
  background-color: rgb(241, 109, 127);
  color: white;
}

/*# sourceMappingURL=checkout.css.map */
